vs_project/.vs
vs_project/vs_project*
vs_project/Release/*.*
vs_project/Debug/*.*
*/*/.vs
*/.vs

*/pch.cpp
*/*/pch.cpp
*/*/*/pch.cpp

*/pch.h
*/*/pch.h
*/*/*/pch.h

*/*/Release/*.*
*/*/Debug/*.*
*/Release/*.*
*/Debug/*.*

*/*/*/*.sln
*/*/*/*.vcxproj
*/*/*/*.vcxproj.*

*/*/*.sln
*/*/*.vcxproj
*/*/*.vcxproj.*

*/*.sln
*/*.vcxproj
*/*.vcxproj.*
*/*/ipch/*.*
*/*/ipch/*/*
*/*/ipch/*/*.*
*/*/ipch/*/*/*.*
